
<main>
  <div class="product-detail-container">
    <!-- گالری تصاویر -->
    <div class="gallery">
      <button class="arrow left" (click)="previousImage()">&#10094;</button>

      <img [src]="mainImage" alt="Product Image" class="main-image">

      <button class="arrow right" (click)="nextImage()">&#10095;</button>

      <div class="thumbnails">
        <ng-container *ngFor="let img of productData?.images; let i = index">
          <img [src]="img"
               (click)="selectImage(img)"
               [class.active]="i === currentImageIndex"
               alt="Thumbnail"
               class="thumbnail">
        </ng-container>
      </div>
    </div>

    <!-- توضیحات محصول -->
    <div class="product-description">
      <h2>{{ productData?.name }}</h2>
      <p class="tozihat">    {{ productData?.description }}</p>
      <p class="product-id">کد محصول: {{ productId }}</p>

      <!-- انتخاب رنگ -->
      <!-- <div class="options">
        <label>رنگ:</label>
        <select [(ngModel)]="selectedColor">
          <option *ngFor="let color of colors" [value]="color">{{ color }}</option>
        </select>
      </div> -->


      <!-- دکمه‌های انتخاب رنگ -->
<div class="color-buttons">
  <label class="rang">رنگ:</label>
  <div class="color-options">
 <button *ngFor="let color of colorList"
        (click)="selectColor(color.name)"
        [ngStyle]="{ 'background-color': color.colorCode }"
        class="color-btn">
</button>
  </div>
</div>


      <!-- انتخاب سایز -->
      <div class="options">
        <label>سایز:</label>
        <select [(ngModel)]="selectedSize">
          <option *ngFor="let size of sizes" [value]="size">{{ size }}</option>
        </select>
      </div>

      <p class="price"><span class="label">قیمت:</span> {{ productData?.price }} تومان</p>

      <!-- دکمه افزودن به سبد خرید -->
      <div class="add-to-cart">
        <button class="sabad" (click)="addToCart(productData)">
          افزودن به سبد خرید
        </button>
      </div>
    </div>
  </div>
</main>
