<main>
  <div class="container">

    <a routerLink="project">
      <div class="image-container">
        <img src="assets/شلوار/1.jpg" alt="">
        <div class="caption">شلوار</div>
        <div class="caption2">قیمت بااحترام:1500/000/000 تومان</div>

      </div>
    </a>

    <a routerLink="sh">
      <div class="image-container">
        <img src="assets/شلوار/3.jpg" alt="">
        <div class="caption">شلوار</div>
        <div class="caption2">قیمت بااحترام:1500/000/000 تومان</div>
      </div>
    </a>

    <a routerLink="suit">
      <div class="image-container">
        <img src="assets/شلوار/4.jpg" alt="">
        <div class="caption">شلوار</div>
        <div class="caption2">قیمت بااحترام:1500/000/000 تومان</div>
      </div>
    </a>

    <a routerLink="sweater">
      <div class="image-container">
        <img src="assets/شلوار/5.jpg" alt="">
        <div class="caption">شلوار</div>
        <div class="caption2">قیمت بااحترام:1500/000/000 تومان</div>
      </div>
    </a>

    <a routerLink="perfume">
      <div class="image-container">
        <img src="assets/شلوار/7.jpg" alt="">
        <div class="caption">شلوار</div>
        <div class="caption2">قیمت بااحترام:1500/000/000 تومان</div>
      </div>
    </a>

    <a routerLink="watch">
      <div class="image-container">
        <img src="assets/شلوار/8.jpg" alt="">
        <div class="caption">شلوار</div>
        <div class="caption2">قیمت بااحترام:1500/000/000 تومان</div>
      </div>
    </a>

    <a routerLink="shoes">
      <div class="image-container">
        <img src="assets/شلوار/9.jpg" alt="">
        <div class="caption">شلوار</div>
        <div class="caption2">قیمت بااحترام:1500/000/000 تومان</div>
      </div>
    </a>

    <a routerLink="belt">
      <div class="image-container">
        <img src="assets/شلوار/10.jpg" alt="">
        <div class="caption">شلوار</div>
        <div class="caption2">قیمت بااحترام:1500/000/000 تومان</div>
      </div>
    </a>

    <a routerLink="hat">
      <div class="image-container">
        <img src="assets/شلوار/1.jpg" alt="">
        <div class="caption">شلوار</div>
        <div class="caption2">قیمت بااحترام:1500/000/000 تومان</div>
      </div>
    </a>

    <a routerLink="bag">
      <div class="image-container">
        <img src="assets/شلوار/3.jpg" alt="">
        <div class="caption">شلوار</div>
        <div class="caption2">قیمت بااحترام:1500/000/000 تومان</div>
      </div>
    </a>





    <a routerLink="project" >
      <div class="image-container">
        <img src="assets/شلوار/14.jpg" alt="">
        <div class="caption">شلوار</div>
        <div class="caption2">قیمت بااحترام:1500/000/000  تومان</div>
      </div>
    </a>

  </div>



</main>



<footer class="footer">
  <div class="footer-container">
      <div class="footer-section">
          <h3>دسترسی سریع</h3>
          <ul>

            <li><a routerLink="/contact" class="footer-link">صفحه اصلی</a></li>
            <li><a routerLink="/media" class="footer-link">پیگیری شکایات</a></li>
            <li><a routerLink="/guide" class="footer-link">تماس با ما</a></li>

          </ul>
      </div>
      <div class="footer-section">
          <h3>راهنمای مشتریان</h3>
          <ul>
            <li><a routerLink="/contact" class="footer-link">پاسخ به پرسش‌های متداول</a></li>
            <li><a routerLink="/media" class="footer-link">قوانین</a></li>
            <li><a routerLink="/guide" class="footer-link">ایمیل: bloom</a></li>
            <li><a routerLink="/blog" class="footer-link">درباره ما</a></li>
          </ul>
      </div>




      <div class="footer-section social">
          <h3>بلوم استایل در شبکه‌های اجتماعی</h3>

          <div class="social-icons">

              <a href="https://telegram.org"   > <mat-icon>telegram</mat-icon></a>
              <a href="https://twitter.com" class="social-icon instagram" ><i class="fab fa-instagram"></i></a>

          </div>
      </div>
  </div>

</footer>


