<main>
  <div class="container">



    <a [routerLink]="['/product-detail', 1]">
      <div class="image-container">
        <img src="assets/شلوار/1.jpg" alt="">
        <div class="caption">شلوار</div>
        <div class="caption2">قیمت بااحترام:1500/000/000 تومان</div>
      </div>
    </a>

    <a [routerLink]="['/product-detail', 1]">
      <div class="image-container">
        <img src="assets/شلوار/1.jpg" alt="">
        <div class="caption">شلوار</div>
        <div class="caption2">قیمت بااحترام:1500/000/000 تومان</div>

      </div>
    </a>

    <a [routerLink]="['/product-detail', 2]">
      <div class="image-container">
        <img src="assets/شلوار/3.jpg" alt="">
        <div class="caption">شلوار</div>
        <div class="caption2">قیمت بااحترام:1500/000/000 تومان</div>
      </div>
    </a>

    <a [routerLink]="['/product-detail', 3]">
      <div class="image-container">
        <img src="assets/شلوار/4.jpg" alt="">
        <div class="caption">شلوار</div>
        <div class="caption2">قیمت بااحترام:1500/000/000 تومان</div>
      </div>
    </a>

    <a [routerLink]="['/product-detail', 4]">
      <div class="image-container">
        <img src="assets/شلوار/5.jpg" alt="">
        <div class="caption">شلوار</div>
        <div class="caption2">قیمت بااحترام:1500/000/000 تومان</div>
      </div>
    </a>

    <a [routerLink]="['/product-detail', 5]">
      <div class="image-container">
        <img src="assets/شلوار/7.jpg" alt="">
        <div class="caption">شلوار</div>
        <div class="caption2">قیمت بااحترام:1500/000/000 تومان</div>
      </div>
    </a>

    <a [routerLink]="['/product-detail', 6]">
      <div class="image-container">
        <img src="assets/شلوار/8.jpg" alt="">
        <div class="caption">شلوار</div>
        <div class="caption2">قیمت بااحترام:1500/000/000 تومان</div>
      </div>
    </a>

    <a [routerLink]="['/product-detail', 7]">
      <div class="image-container">
        <img src="assets/شلوار/9.jpg" alt="">
        <div class="caption">شلوار</div>
        <div class="caption2">قیمت بااحترام:1500/000/000 تومان</div>
      </div>
    </a>

    <a [routerLink]="['/product-detail', 8]">
      <div class="image-container">
        <img src="assets/شلوار/10.jpg" alt="">
        <div class="caption">شلوار</div>
        <div class="caption2">قیمت بااحترام:1500/000/000 تومان</div>
      </div>
    </a>


    <a [routerLink]="['/product-detail', 9]">
      <div class="image-container">
        <img src="assets/شلوار/3.jpg" alt="">
        <div class="caption">شلوار</div>
        <div class="caption2">قیمت بااحترام:1500/000/000 تومان</div>
      </div>
    </a>





    <a  >
      <div class="image-container">
        <img src="assets/شلوار/14.jpg" alt="">
        <div class="caption">شلوار</div>
        <div class="caption2">قیمت بااحترام:1500/000/000  تومان</div>
      </div>
    </a>

  </div>



</main>



<footer class="footer">
  <div class="footer-container">
      <div class="footer-section">
          <h3 class="dast">دسترسی سریع</h3>
          <ul>

            <li><a routerLink="/contact" class="footer-link">صفحه اصلی</a></li>
            <li><a routerLink="/media" class="footer-link">پیگیری شکایات</a></li>
            <li><a routerLink="/guide" class="footer-link">تماس با ما</a></li>

          </ul>
      </div>
      <div class="footer-section">
          <h3>راهنمای مشتریان</h3>
          <ul>
            <li><a routerLink="/contact" class="footer-link">پاسخ به پرسش‌های متداول</a></li>
            <li><a routerLink="/media" class="footer-link">قوانین</a></li>
            <li><a routerLink="/blog" class="footer-link">درباره ما</a></li>
          </ul>
      </div>




      <div class="footer-section social">
          <h3>ما را در شبکه های اجتماعی دنبال کنید</h3>

          <div class="social-icons">

            <a href="https://wa.me/YOUR_NUMBER" class="social-icon whatsapp">
            <i class="fab fa-whatsapp"></i>
               </a>

              <a href="https://telegram.org"   > <mat-icon>telegram</mat-icon></a>
              <a href="https://twitter.com" class="social-icon instagram" ><i class="fab fa-instagram"></i></a>

          </div>
      </div>
  </div>

</footer>

