<header class="h2">

  <div class="marquee">
    <p class="line line1">به بلوم استایل خوش آمدید</p>
    <p class="line line2">تجربه ای متفاوت از خرید باکیفیت</p>
  </div>


<div class="ca">
<img class="logo"  src="assets/logo2.jpg" alt="">

<form (ngSubmit)="onSearch()" class="search-form" action="">
  <input class="input" type="search" [(ngModel)]="searchQuery" name="searchQuery"  placeholder="محصول مورد نظر خود را جستجو کنید">
  <button    class="b" type="submit"> <mat-icon>search</mat-icon></button>
</form>
<div class="b2">
  <form action="">
    <a routerLink="login" routerLinkActive="active"> <button class="m" mat-button >ورود / عضویت</button></a>
    <button class="m" mat-button>سبد خرید <mat-icon class="cart-icon">shopping_cart</mat-icon></button>
  </form>
</div>


</div>

  <ul>
    <li>
      <a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" >خانه </a>
    </li>


    <li>
      <a class="mahsolat" (click)="scrollToProducts()">محصولات</a>
    </li>



    <li>
      <a routerLink="project" routerLinkActive="active">هودی</a>
    </li>

    <li>
      <a routerLink="sh" routerLinkActive="active">شلوار</a>
    </li>


    <li>
      <a routerLink="slider" routerLinkActive="active">slider</a>
    </li>


    <li>
      <a routerLink="login" routerLinkActive="active">ثبت نام</a>
    </li>

  </ul>

</header>




<router-outlet />
