<main>
  <div class="container">

    <a [routerLink]="['/product-detail', 12]">
      <div class="image-container">
        <img src="assets/هودی/یک.jpg" alt="">
        <div class="caption">هودی</div>
        <div class="caption2">قیمت بااحترام:1500/000/000 تومان</div>
      </div>
    </a>

    <a [routerLink]="['/product-detail', 12]">
      <div class="image-container">
        <img src="assets/هودی/دو.jpg" alt="">
        <div class="caption">هودی</div>
        <div class="caption2">قیمت بااحترام:1500/000/000 تومان</div>
      </div>
    </a>

    <a [routerLink]="['/product-detail', 12]">
      <div class="image-container">
        <img src="assets/هودی/سه.jpg">
        <div class="caption">هودی</div>
        <div class="caption2">قیمت بااحترام:1500/000/000 تومان</div>
      </div>
    </a>

    <a [routerLink]="['/product-detail', 12]">
      <div class="image-container">
        <img src="assets/هودی/چهار.jpg" alt="">
        <div class="caption">هودی</div>
        <div class="caption2">قیمت بااحترام:1500/000/000 تومان</div>
      </div>
    </a>

    <a [routerLink]="['/product-detail', 12]">
      <div class="image-container">
        <img src="assets/هودی/پنج.jpg" alt="">
        <div class="caption">هودی</div>
        <div class="caption2">قیمت بااحترام:1500/000/000 تومان</div>
      </div>
    </a>

    <a [routerLink]="['/product-detail', 12]">
      <div class="image-container">
        <img src="assets/هودی/شش.jpg" alt="">
        <div class="caption">هودی</div>
        <div class="caption2">قیمت بااحترام:1500/000/000 تومان</div>
      </div>
    </a>

    <a [routerLink]="['/product-detail', 12]">
      <div class="image-container">
        <img src="assets/هودی/هفت.jpg" alt="">
        <div class="caption">هودی</div>
        <div class="caption2">قیمت بااحترام:1500/000/000 تومان</div>
      </div>
    </a>

    <a [routerLink]="['/product-detail', 12]">
      <div class="image-container">
        <img src="assets/هودی/هشت.jpg" alt="">
        <div class="caption">هودی</div>
        <div class="caption2">قیمت بااحترام:1500/000/000 تومان</div>
      </div>
    </a>

    <a [routerLink]="['/product-detail', 12]">
      <div class="image-container">
        <img src="assets/هودی/سیزده.jpg" alt="">
        <div class="caption">هودی</div>
        <div class="caption2">قیمت بااحترام:1500/000/000 تومان</div>
      </div>
    </a>

    <a [routerLink]="['/product-detail', 12]">
      <div class="image-container">
        <img src="assets/هودی/دوازده.jpg" alt="">
        <div class="caption">هودی</div>
        <div class="caption2">قیمت بااحترام:1500/000/000 تومان</div>
      </div>
    </a>





    <a [routerLink]="['/product-detail', 12]" >
      <div class="image-container">
        <img src="assets/هودی/یازده.jpg" alt="">
        <div class="caption">هودی</div>
        <div class="caption2">قیمت بااحترام:1500/000/000 تومان</div>
      </div>
    </a>

  </div>



</main>



<footer class="footer">
  <div class="footer-container">
      <div class="footer-section">
          <h3>دسترسی سریع</h3>
          <ul>

            <li><a routerLink="/contact" class="footer-link">صفحه اصلی</a></li>
            <li><a routerLink="/media" class="footer-link">پیگیری شکایات</a></li>
            <li><a routerLink="/guide" class="footer-link">تماس با ما</a></li>

          </ul>
      </div>
      <div class="footer-section">
          <h3>راهنمای مشتریان</h3>
          <ul>
            <li><a routerLink="/contact" class="footer-link">پاسخ به پرسش‌های متداول</a></li>
            <li><a routerLink="/media" class="footer-link">قوانین</a></li>
            <li><a routerLink="/guide" class="footer-link">ایمیل: bloom</a></li>
            <li><a routerLink="/blog" class="footer-link">درباره ما</a></li>
          </ul>
      </div>




      <div class="footer-section social">
          <h3>بلوم استایل در شبکه‌های اجتماعی</h3>

          <div class="social-icons">

              <a href="https://telegram.org"   > <mat-icon>telegram</mat-icon></a>
              <a href="https://twitter.com" class="social-icon instagram" ><i class="fab fa-instagram"></i></a>

          </div>
      </div>
  </div>

</footer>
