<main>

  <h1>خانه</h1>
<div class="slider-article-container">

  <app-slider class="slide"></app-slider>




  <div class="article">
    <a routerLink="project" class="no-hover-effect">
      <img class="ii" src="assets/ارتیکل.webp" alt="">
    </a>
  <!-- <img class="ii" src="assets/ارتیکل.webp" alt=""> -->
  </div>

</div>


<h2  id="products">محصولات</h2>
<div class="container">

  <a routerLink="project">
    <div class="image-container">
      <img src="assets/هودی.jpg" alt="">
      <div class="caption">هودی</div>
    </div>
  </a>

  <a routerLink="sh">
    <div class="image-container">
      <img src="assets/شلوار.jpg" alt="">
      <div class="caption">شلوار</div>
    </div>
  </a>

  <a routerLink="suit">
    <div class="image-container">
      <img src="assets/ک.jpg" alt="">
      <div class="caption">کت و شلوار</div>
    </div>
  </a>

  <a routerLink="sweater">
    <div class="image-container">
      <img src="assets/د.jpg" alt="">
      <div class="caption">دورس</div>
    </div>
  </a>

  <a routerLink="perfume">
    <div class="image-container">
      <img src="assets/عطر.jpg" alt="">
      <div class="caption">عطر</div>
    </div>
  </a>

  <a routerLink="watch">
    <div class="image-container">
      <img src="assets/ساعت.jpg" alt="">
      <div class="caption">ساعت</div>
    </div>
  </a>

  <a routerLink="shoes">
    <div class="image-container">
      <img src="assets/کفش.jpg" alt="">
      <div class="caption">کفش</div>
    </div>
  </a>

  <a routerLink="belt">
    <div class="image-container">
      <img src="assets/هودی/چهار.jpg" alt="">
      <div class="caption">هودی مردانه</div>
    </div>
  </a>

  <a routerLink="hat">
    <div class="image-container">
      <img src="assets/کلاه.jpg" alt="">
      <div class="caption">کلاه</div>
    </div>
  </a>

  <a routerLink="bag">
    <div class="image-container">
      <img src="assets/کیف.jpg" alt="">
      <div class="caption">کیف</div>
    </div>
  </a>







</div>


</main>

<footer class="footer">
  <div class="footer-container">
      <div class="footer-section">
          <h3>دسترسی سریع</h3>
          <ul>

            <li><a routerLink="/contact" class="footer-link">صفحه اصلی</a></li>
            <li><a routerLink="/media" class="footer-link">پیگیری شکایات</a></li>
            <li><a routerLink="/guide" class="footer-link">تماس با ما</a></li>

          </ul>
      </div>
      <div class="footer-section">
          <h3>راهنمای مشتریان</h3>
          <ul>
            <li><a routerLink="/contact" class="footer-link">پاسخ به پرسش‌های متداول</a></li>
            <li><a routerLink="/media" class="footer-link">قوانین</a></li>
            <li><a routerLink="/guide" class="footer-link">ایمیل: bloom</a></li>
            <li><a routerLink="/blog" class="footer-link">درباره ما</a></li>
          </ul>
      </div>




      <div class="footer-section social">
          <h3>بلوم استایل در شبکه‌های اجتماعی</h3>

          <div class="social-icons">

              <a href="https://telegram.org"   > <mat-icon>telegram</mat-icon></a>
              <a href="https://twitter.com" class="social-icon instagram" ><i class="fab fa-instagram"></i></a>

          </div>
      </div>
  </div>

</footer>


















