


.container {
  display: flex;
  gap: 30px; /* فاصله بین عکس‌ها */
  flex-wrap: wrap; /* برای رفتن به خط بعدی اگر جا نباشه */
  justify-content: center; /* برای وسط‌چین کردن در کل صفحه */
}

.image-container {
  text-align: center; /* برای وسط‌چین کردن کپشن */
  background-color: white;
  border: 9px solid #0d62a7;
  border-radius: 10px;
  padding: 5px;
  transition: transform 0.3s;
  box-shadow: 5px 8px 15px rgba(0, 0, 0, 0.3); /* سایه بزرگتر و تیره‌تر */

}

img {
  width: 200px;
  height: 200px;
  object-fit: cover; /* برای حفظ تناسب عکس */
  border-radius: 8px; /* گوشه‌های گرد برای عکس */
}

.caption {
  font-size: 14px; /* اندازه متن کپشن */
  color: black; /* رنگ متن */
  margin-top: 5px; /* فاصله از عکس */
}

a:hover {
  transform: scale(1.1);
  /* border: 9px solid #3a3a3a; */
  background-color: #3a3a3a;

}

/* کانتینر جدید برای اسلایدر و مقاله */
.slider-article-container {
  display: flex;
  gap: 0;
  align-items: stretch; /* این باعث میشه که اسلایدر و مقاله ارتفاع یکسانی داشته باشن */
  width: 100%;
  margin: 0;

}

/* اسلایدر */
.slide {
  flex: 0 0 60%; /* عرض اسلایدر 60% */
  margin: 0;
  display: flex;
  box-shadow: 5px 8px 15px rgba(0, 0, 0, 0.3); /* سایه بزرگتر و تیره‌تر */

}

/* مقاله */
.article {
  flex: 0 0 35%;   /* عرض مقاله 35% */
 margin-right: 2%;
  display: flex;
  border: 1px solid white;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 100%;
  border-radius: 10px;
  box-shadow: 5px 8px 15px rgba(0, 0, 0, 0.3); /* سایه بزرگتر و تیره‌تر */



}
.ii{
  width:100%;
  height: 100%;
  object-fit: cover;
}
h1,h2{
  text-align: center;
  margin: 3%;
  color: black;
}

/* فوتر */
.footer {
  background-color:#0d62a7;
  color: #bbb;
  width: 100%;
  padding: 9px 0;
  text-align: center;
  font-size: 14px;
  margin-top: 3%;
  box-sizing: border-box;
}




.footer-container {

  margin: 0 auto; /* وسط‌چین کردن المنت */
  display: flex; /* استفاده از مدل Flexbox */
  justify-content: space-around; /* توزیع یکنواخت فضا بین آیتم‌ها */
  flex-wrap: wrap; /* انتقال آیتم‌ها به خط بعدی در صورت نیاز */
  gap: 15px; /* فاصله 20px بین آیتم‌ها */
}

.footer-section.social {


  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 6px;

}

.footer-section h3 {
  margin-bottom: 15px;
  font-size: 18px;
  color: #fff;
}



.footer-section li {
  margin: 8px 0;
  display: block;
  font-size: 9px;
  text-align:right;
}


.footer h3{
  font-size: 26px;
  text-align: right;
}


.footer-section a:hover {
  background-color: transparent; /* پس‌زمینه به شفاف تبدیل می‌شود */
  border: none; /* مرز برداشته می‌شود */
  color: inherit; /* رنگ متن به حالت پیش‌فرض یا ارثی از والدش برمی‌گردد */

}


.social-icons {
  display: flex;
  gap: 12px;
  margin-top: 10px;
}

.social-icon, .social-icons a mat-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  font-size: 24px;
  color: #fff;
  background-color: #E1306C; /* اینستاگرام */
  transition: all 0.3s ease;
  text-decoration: none;
}

.social-icons a mat-icon {
  font-size: 24px;
  background-color: #0088cc; /* تلگرام */
}

.social-icon:hover, .social-icons a mat-icon:hover {
  transform: scale(1.1);
  box-shadow: 0 6px 12px rgba(0,0,0,0.2);

}

.social-icon:hover{
background-color: #E1306C !important;
}




/* پایان فوتر */




